fastapi
uvicorn[standard]
python-multipart
Pillow
opencv-python
numpy
scipy
scikit-learn
web3
python-dotenv
email-validator
PyJWT
passlib
bcrypt
--extra-index-url https://download.pytorch.org/whl/cpu
torch
torchvision
psycopg2-binary